@import "./lib/reset.scss";

html, body, #root, .App{
    @include rect(100%, 100%);
}
.App {
    @include flexbox();
    @include flex-direction(column);
    header{
        @include rect(100%, 0.44rem);
        background:rgba(211,58,49,1);
        .top{
            @include rect(100%, 0.44rem);
            @include flexbox();
            a{
                display: block;
                @include flex();
                line-height: 0.44rem;
                color:white;
                font-size:0.18rem;
                text-align: center;
            }

        }
    }
    .container{
        @include flex();
        @include rect(100%, auto);
        @include overflow(hidden);
        .box{
            @include rect(100%, 100%);
            @include flexbox();
            @include flex-direction(column);



                .home_box{
                    @include flex();
                    @include rect(100%, auto);
                    @include overflow();

                    .am-tabs-pane-wrap-active{
                        width:100%;
                        background:white;
                        .bofang{
                            width:100%;
                            height:2rem;
                            position:relative;

                            p{
                                position:absolute;
                                top:0.05rem;
                                left:0.05rem;
                                height:0.5rem;
                                color: #fff;
                                font-size:0.12rem;
                                img{
                                    border-radius: 50%;
                                    margin-right:0.05rem;
                                    border: 1px solid #fefefe;
                                }
                            }
                            .fenlei{
                                position:absolute;
                                top:0.05rem;
                                right:0.08rem;

                                padding:0 0.1rem;
                                border-radius:0.14rem;
                                color:#fefefe;
                                background-color: rgba(0,0,0,0.3);
                                border:0.01rem solid #ccc;
                                font-size:0.12rem;
                            }
                            .xiaoliang{
                                position:absolute;
                                bottom:0.05rem;
                                left:0.08rem;
                                color: #fff;
                                font-size: 0.12rem;
                            }
                            .shijian{
                                position:absolute;
                                bottom:0.05rem;
                                right:0.08rem;
                                color: #fff;
                                font-size: 0.12rem;
                            }
                            .start{
                                position:absolute;
                                font-size: 0.3rem;
                                margin-top: 0.8rem;
                                margin-left: 48%;
                                color: #fff;


                            }
                        }
                        .jieshao{
                            width:100%;
                            ul{
                                display:flex;
                                height:0.5rem;
                                padding:0 0.1rem;
                                li{
                                    height:100%;
                                    padding-top:0.05rem;
                                    .iconfont{
                                        font-size:0.2rem;
                                    }
                                }
                                li:nth-child(1){
                                    width:55%;
                                    font-size: 0.12rem;

                                }
                                li:nth-child(2){
                                    width:15%;

                                    text-align: center;
                                    span:nth-of-type(2){
                                        color: #ddd;
                                        float:left;
                                        width:100%;
                                        height:50%;

                                    }
                                }
                                li:nth-child(3){
                                    width:15%;
                                    text-align: center;
                                    span:nth-of-type(2){
                                        color: #ddd;
                                        float:left;
                                        width:100%;
                                        height:50%;

                                    }

                                }
                                li:nth-child(4){
                                    width:15%;

                                    text-align: center;
                                    font-size:0.2rem;
                                }
                            }
                        }
                    }

                }


        }
    }
    
    footer{
        @include rect(100%, 0.4rem);
        @include background-color(#eee);
        
        ul{
            @include rect(100%, 100%);
            @include flexbox();

            li{
                @include flex();
                @include rect(auto, 100%);
                 @include flexbox();
                 @include align-items();
                @include flex-direction(column);
                    span{
                        @include font-size(0.22rem);
                    }
                    p{
                        @include font-size(0.12rem);
                    }
                    
                    &.active{
                        @include text-color(#f66);
                    }
            }
        }
    }
}


